<div class="container mt-5">
  <h2 class="text-center">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mt-2">
      <%= f.label :name, class: 'fs-4' %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control p-2' %>
    </div>

    <div class="field mt-2">
      <%= f.label :surname, class: 'fs-4' %><br />
      <%= f.text_field :surname, autocomplete: "surname", class: 'form-control p-2' %>
    </div>

    <div class="field mt-2">
      <%= f.label :email, class: 'fs-4' %><br />
      <%= f.email_field :email, autocomplete: "email", class: 'form-control p-2' %>
    </div>

    <div class="mt-2">
      <%= f.label :bio, class: 'fs-4' %>
      <%= f.text_area :bio, size:"50x5", required: true, class: 'form-control p-2' %>
    </div>

    <div class="field mt-2">
      <%= f.label :password, class: 'fs-4' %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control p-2' %>
    </div>

    <div class="field mt-2">
      <%= f.label :password_confirmation, class: 'fs-4' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control p-2' %>
    </div>

    <div class="actions mt-3 mb-3">
      <%= f.submit "Sign up", class: 'btn btn-sm btn-primary w-100' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>