<%= form_with url: author_post_comments_url(params[:author_id], params[:id]), scope: :comment do |f| %>

<div class="container mt-5">
  <%= f.hidden_field  :post_id, :value => params[:id] %>
  <%= f.label 'Comment', class: 'control-label fs-4' %><br>
  <%= f.text_area :text, size:"100x5", required: true, class:'form-control', placeholder: 'Any comment?...' %>
</div>

<%= f.submit "Add Comment", class: "btn btn-primary d-flex m-auto w-25 mt-5 justify-content-center", data: {disable_with: "Loading..."} %>
<% end  %>