<div class='blog-card'>
  <h2>
    <a href='/authors/<%= post.author_id %>/posts/<%= post.id %>'><%= post.title %><a/>
  </h2>
  <div><%= post.text %></div>
  <div class='text-end'>
    Comments: <%= post.comments.count || 0 %> 
    Likes: <%= post.likes_counter || 0 %> 
  </div>
  <% if show_comments %>
  <div>
    <% post.comments.joins(:author).select('comments.*, users.name').limit(5).each { |comment_| %>
      <%= render partial: 'comment', object: comment_ %>
    <% } %>
  </div>
  <% end %>
</div>