<div class='blog-card'>
  <h2>
    <%= link_to post.title, [post.user, post]%>
  </h2>
  <div><%= post.text %></div>
  <div class='text-end'>
    <%= t('comments')%> <%= post.comments.count || 0 %> 
    <%= t('likes')%> <%= post.likes_counter || 0 %> 
  </div>
  <% if show_comments %>
  <div>
    <% post.most_recent_comments.each { |comment_| %>
      <%= render partial: 'comment', object: comment_ %>
    <% } %>
  </div>
  <% end %>
</div>