<div class='blog-card'>
  <div class='d-flex justify-content-between align-items-center'>
    <h2>
      <span>
        <%= @post.title %> by <%= @post.name %>
      <span/>
    </h2>
    <div class='text-end'>
      <%= t('comments')%> <%= @post.comments.count || 0 %> 
      <%= t('likes')%> <%= @post.likes_counter || 0 %> 
    </div>  
  </div>
  <div><%= @post.text %></div>
</div>

<% if @post.comments.length > 0 %>
<div class='blog-card'>
  <% @post.comments_with_author_names.each { |comment_| %>
    <%= render partial: 'comment', object: comment_ %>
  <% } %>
</div>
<% end %>

<%= render partial: 'add_comment' %>